<odoo>
    <menuitem id="menu_g2p_farmer_registry"
              name="Farmer Registry"
              parent="g2p_pbms.menu_g2p_registry"
              action="action_g2p_farmer_registry"
              sequence="1"/>
    <menuitem id="menu_g2p_register_household"
              name="Register Household"
              parent="g2p_pbms.menu_g2p_registry"
              action="action_g2p_register_household"
              sequence="2"/>
    <menuitem id="menu_g2p_individual_stipend_program_registry"
              name="Individual Stipend Program Registry"
              parent="g2p_pbms.menu_g2p_registry"
              action="action_g2p_individual_stipend_program_registry"
              sequence="3"/>
</odoo>
